{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <main class="container mt-4">
        {% include "_partials/_flashbag.html.twig" %}

        <div class="card mt-4 mx-auto w-50">
            <div class="card-header">
                <h1 class="h3 my-3">Mot de passe oublié</h1>
            </div>

            <div class="card-body">
                <form class="register" method="post">
                    {{ form_widget(forgotPasswordFormStep1.email, {'attr': {'class': 'register-email register-option', 'placeholder': 'Courriel'}}) }}

                    <div class="my-3">
                        <button type="submit" class="btn btn-primary">Entrez votre adresse email pour renouveler votre mot de passe.</button>
                    </div>

                    {{ form_end(forgotPasswordFormStep1) }}
                </form>
            </div>
        </div>
    </main>
{% endblock %}