{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Diocèse d'Évreux</h1>
        <h2>Hospitalité Notre Dame d'Évreux</h2>
    </div>
    
    <div class="container">
        <div class="d-flex">
            <div class="flex-shrink-0">
                <img src="/images/logo_hnde_petit.png" class="figure-img" alt="Hospitalité Notre Dame d'Évreux"/>
            </div>
            <div class="flex-grow-1 ms-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>

{% endblock %}
