/*
 * assets/styles/app.scss
 */

@import "variables";
@import "~bootstrap";

.jumbotron {
     padding: 2rem 1rem;
     margin-bottom: 2rem;
     /* background-color: #607d8b; */
     border-radius: .3rem;
}
